fastapi
uvicorn
gunicorn

langchain
langchain-core
langchain-community
langchain-openai
langchain-experimental
langchain-tavily
langgraph

openai
tavily-python
faiss-cpu
numpy

pydantic
python-dotenv
langfuse